<div class="login-form">
    <form autocomplete="off"   [formGroup]="loginform" (ngSubmit)="onsubmit(loginform.value)">
    <div class="jkcon">
        <img src="../../../assets/img/jk.jpg" alt="jkcon">
    </div>
    <h2 class="text-center"> Login</h2>
    <div class="form-group">
          <!-- <input type="text" class=" form-control" formControlName="username"   name="username" placeholder="UserName "> -->
          <input autofocus type="text" class=" form-control" formControlName="username"   name="username" placeholder="UserName ">
    </div>
    <div class="form-group">
        <!-- <input type="password" class="form-control" name="password" placeholder="Password" required="required"> -->
        <input type="password" class=" form-control" formControlName="pass" name="pass" placeholder="Enter password">
      </div>
      <div class="form-group">
          <!-- <input type="password" class="form-control" name="password" placeholder="Password" required="required"> -->
          <!-- <input type="password" class=" form-control" formControlName="pass" name="pass" placeholder="Enter password"> -->

          <input type="text" class=" form-control" formControlName="empid" name="id" placeholder="Enter Emp id">
        </div>


    <div class="form-group">
        <button type="submit"  [disabled]="loginform.invalid"  class="btn btn-primary btn-lg btn-block">Sign in</button>
    </div>
    <!-- <div class="clearfix">
        <label class="pull-left checkbox-inline"><input type="checkbox"> Remember me</label>
        <a href="#" class="pull-right">Forgot Password?</a>
    </div> -->
  </form>

  <h6><p>{{loginresp}}</p></h6>
  <!-- <p class="text-center small">Don't have an account? <a href="#">Sign up here!</a></p> -->
  </div>
